.practice-rapper {
    .umair1:first-child{
    @extend .umair;
     div p::before{
        
        content: "Mera name Umair Zafar";

        background-color: yellow;


     }

    }
    .form {
        position: relative;
        .fa-solid {
            position: absolute;
            transform: translate(12px, 13px);
            top: 0px;
            left: 0px;
        }
        .umair-btn {
            position: absolute;
            right: 0px;
            top: 0px;
        }
        input {
            padding: 10px;
        }
    }
}