* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin khalid(){
    width: 300px;
    
}

.umair {
    @include khalid();

    background-color:blue;
    height: 300px;
 }